.fastclick {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tovch {
  border: 5px solid black;
  width: 80%;
  height: 70vh;
  border-radius: 12px;
  margin-top: 2px;
  margin-inline: 20px;
  display: flex;
  justify-content: center;
  font-size: 56px;
  align-items: center;

  transition: 0.1s;
}

.tovch:active {
  background-color: gray;
  transform: translateY(10px);
}

.t {
  background-color: blueviolet;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  color: beige;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.t h1 {
  size: 60px;
  font-weight: bold;
}
.t p {
  size: 20px;
}
.com {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}
.bleu {
  background-color: blue;
}
